<%= form_for [@tag.project, @tag, @name] do |f| %> 
  <fieldset class="box tabular">
    <legend><%= l(:label_m17n_lang_and_name_new) %></legend>
    <p>
      <%= f.label :locale %>
      <%= f.select :locale, @locales.map{|locale|[l(:general_lang_name, locale: locale), locale]} %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, size: 60 %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 6 %>
    </p>
  </fieldset>
  <p class="buttons">
    <%= f.submit l(:button_create) %>
  </p>
<% end %>
